@import "tailwindcss";

@theme {
  --color-primary: #06b6d4; /* Cian Médico */
  --color-primary-content: #ffffff;
  --color-primary-light: #67e8f9;
  --color-primary-hover: #0891b2;
  --color-secondary: #fb7185; /* Coral Amor Animal */
  --color-accent: #f59e0b; /* Ámbar Energía */
  --color-background-light: #f8fafc;
  --color-background-dark: #f1f5f9;
  --color-surface: #ffffff;
  --color-surface-lighter: #f1f5f9;
  --color-surface-border: #e2e8f0;
  --color-border-dark: #cbd5e1;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
  --color-font-main: #1e293b;
  --color-font-muted: #64748b;

  --font-display: "Manrope", sans-serif;
  --font-serif: "Cinzel", serif;
  --font-mono: ui-monospace, SFMono-Regular;

  --shadow-soft:
    0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-premium:
    0 20px 25px -5px rgb(0 0 0 / 0.05), 0 8px 10px -6px rgb(0 0 0 / 0.05);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-background-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--color-surface-lighter);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.glass-effect {
  background: rgba(18, 18, 18, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.neon-border-focus:focus-within {
  box-shadow:
    0 0 10px #2513ec,
    inset 0 0 5px rgba(37, 19, 236, 0.2);
  border-color: #2513ec;
}
